.vscode
aws-chime-node-V2/node_modules
aws-chime-node-V2/package-lock.json
aws-chime-node-V2/.env
aws-chime-node/node_modules
aws-chime-node/package-lock.json
aws-chime-node/.env
aws-chime-ionic/node_modules
aws-chime-ionic/package-lock.json
aws-chime-ionic/platforms
aws-chime-ionic/plugins
aws-chime-ionic/www
aws-chime-ionic-V2s/node_modules
aws-chime-ionic-V2s/package-lock.json
aws-chime-ionic-V2s/platforms
aws-chime-ionic-V2s/plugins
aws-chime-ionic-V2s/www
aws-chime-web-server/dist
aws-chime-web-server/node_modules
aws-chime-web-server/package-lock.json